/*
body, input[type=date] {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    display: block;
    padding: 0.5rem 1rem;
    width: 90%;
    margin: 20px 0px;
  }
  
  .center{
      text-align: center;
  }

  .centerInput{
    text-align: center;
    margin: 0px 50px 0px 50px;
    padding: 0px 20px 0px 20px;
  }
  
  .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 10px -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; 
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 46%; 
    flex: 46%;
  }
  
  .col-75 {
    -ms-flex: 75%; 
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    display: block;
    padding: 0.7rem 1rem;
    width: 90%;
    margin: 20px 0px;
  }

  input[className="inputStrahPremiya"]{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    display: block;
    padding: 0.7rem 1rem;
    width: 50%;
    margin: 20px 0px;
  }
  
  label{
    margin-bottom: 10px;
    display: block;
  }

  label[for="ccnum"] {
    margin-bottom: 10px;
    display: block;
    padding: 30px 0px 0px 0px;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 10px;
    border: none;
    width: 75%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 24px;
  }
  
  .btn2 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 35px 10px;
    border: none;
    width: 60%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  */